.*
*.zip
*.tar
*.out
*.log
bin/
dist/
tmp/

## Git
!.gitignore
!.gitkeep

## GitHub
!.github/

## Editorconfig
!.editorconfig

## Docker
!.dockerignore

## Husky
!.husky/
!.husky.yaml

## Node ##
**/node_modules/

## TypeScript
*.tsbuildinfo

### Golang
/go.work
/go.work.sum
!.golangci.yaml
!.goreleaser.yaml

## Mise
!.mise.toml
